NodeRED/Synergia.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "140bc66a.3a087a",
    "type": "tab",
    "label": "01 I/O Data ",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ab29512f.3b1bd",
    "type": "tab",
    "label": "02 Data Processing",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2f993ba5.76db54",
    "type": "ui_group",
    "d": true,
    "name": "Default",
    "tab": "6d569b79.492e14",
    "order": 3,
    "disp": true,
    "width": 4,
    "collapse": false
  },
  {
    "id": "327ad3e.ee17c2c",
    "type": "ui_base",
    "theme": {
      "name": "theme-custom",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "customTheme": {
        "name": "Engineer Mind",
        "default": "#4B7930",
        "baseColor": "#307478",
        "baseFont": "Tahoma,Geneva,sans-serif",
        "reset": false
      },
      "themeState": {
        "base-color": {
          "default": "#4B7930",
          "value": "#307478",
          "edited": true
        },
        "page-titlebar-backgroundColor": { "value": "#ff0000", "edited": true },
        "page-backgroundColor": { "value": "#111111", "edited": false },
        "page-sidebar-backgroundColor": { "value": "#333333", "edited": false },
        "group-textColor": { "value": "#46a9af", "edited": false },
        "group-borderColor": { "value": "#555555", "edited": false },
        "group-backgroundColor": { "value": "#333333", "edited": false },
        "widget-textColor": { "value": "#eeeeee", "edited": false },
        "widget-backgroundColor": { "value": "#307478", "edited": false },
        "widget-borderColor": { "value": "#333333", "edited": false },
        "base-font": { "value": "Tahoma,Geneva,sans-serif" }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "IIOT Synergia",
      "hideToolbar": "true",
      "allowSwipe": "true",
      "lockMenu": "true",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 42,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "9fb69bc8.1ab2a8",
    "type": "modbus-client",
    "name": "ClientConfig Micro850",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "tcpHost": "192.168.1.20",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": 1,
    "commandDelay": 10,
    "clientTimeout": 1000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 200,
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "6211c3ac.95491c",
    "type": "ui_group",
    "name": "Mandos: Procedimiento de Arranque Turbina",
    "tab": "6d569b79.492e14",
    "order": 1,
    "disp": true,
    "width": "20",
    "collapse": true
  },
  {
    "id": "704c6eea.0e4d8",
    "type": "ui_group",
    "name": "Widget2",
    "tab": "",
    "order": 2,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "6d569b79.492e14",
    "type": "ui_tab",
    "name": "IIOT Synergia",
    "icon": "dashboard",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "f62442d8.46a67",
    "type": "ui_group",
    "name": "Default",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "22",
    "collapse": false
  },
  {
    "id": "110f893b.a0f1d7",
    "type": "ui_group",
    "name": "Default",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "397e2f70.4aa15",
    "type": "ui_group",
    "name": "Temperaturas",
    "tab": "6d569b79.492e14",
    "order": 2,
    "disp": true,
    "width": "20",
    "collapse": false
  },
  {
    "id": "54dde46e.53267c",
    "type": "modbus-client",
    "name": "local",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "tcpHost": "192.168.1.31",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "32678424.59371c",
    "type": "mqtt-broker",
    "name": "test mosquitto",
    "broker": " tcp://test.mosquitto.org:1883",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "27b65cf1.24c8e4",
    "type": "ui_group",
    "name": "HLS demo",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "2452ebe2.f30164",
    "type": "ui_group",
    "name": "Audio",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": "5",
    "collapse": false
  },
  {
    "id": "85d1f038.cdc31",
    "type": "ui_group",
    "name": "Datos para la operación",
    "tab": "6d569b79.492e14",
    "order": 4,
    "disp": true,
    "width": "20",
    "collapse": false
  },
  {
    "id": "3d89e668.5ced6a",
    "type": "ui_group",
    "name": "Panel de Alarmas",
    "tab": "6d569b79.492e14",
    "order": 5,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "d67781cb.79c6f",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "397e2f70.4aa15",
    "order": 6,
    "width": 1,
    "height": 1
  },
  {
    "id": "dccc75c0.32a3e8",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "397e2f70.4aa15",
    "order": 8,
    "width": 2,
    "height": 1
  },
  {
    "id": "5357c0b4.850be",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "397e2f70.4aa15",
    "order": 10,
    "width": 2,
    "height": 1
  },
  {
    "id": "7edd69e3.0e5928",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "397e2f70.4aa15",
    "order": 12,
    "width": 2,
    "height": 1
  },
  {
    "id": "4cd8dac3.57f1b4",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "397e2f70.4aa15",
    "order": 14,
    "width": 2,
    "height": 1
  },
  {
    "id": "bf27031a.862b5",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "397e2f70.4aa15",
    "order": 16,
    "width": 1,
    "height": 1
  },
  {
    "id": "e8670e37.48f56",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "2f993ba5.76db54",
    "order": 6,
    "width": 2,
    "height": 1
  },
  {
    "id": "e59fa9cf.b980f8",
    "type": "mqtt-broker",
    "name": "",
    "broker": "",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "312f7913.af0156",
    "type": "mqtt-broker",
    "name": "AWS IOT Broker: MtxIOTCamaraCarga359804082082837",
    "broker": "a1p5lwieuci5ad-ats.iot.us-east-1.amazonaws.com",
    "port": "8883",
    "tls": "b35b3547.c75d58",
    "clientid": "MtxIOTCam359804082082837",
    "usetls": true,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "fcab7506.d00548",
    "type": "ui_group",
    "name": "Vertedero Embalse Macha Macha",
    "tab": "6d569b79.492e14",
    "order": 6,
    "disp": true,
    "width": 20,
    "collapse": false
  },
  {
    "id": "747c2290.04ff6c",
    "type": "tls-config",
    "name": "MtxIOTEmbalse359804082082704",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "7d44fcf868-certificate.pem.crt",
    "keyname": "7d44fcf868-private.pem.key",
    "caname": "AmazonRootCA1.pem.txt",
    "servername": "",
    "verifyservercert": true
  },
  {
    "id": "83baaa83.0976d8",
    "type": "mqtt-broker",
    "name": "",
    "broker": "",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "477ddab9.e9b994",
    "type": "mqtt-broker",
    "name": "test.mosquitto",
    "broker": " tcp://test.mosquitto.org:1883",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "1742e9e7.d8d216",
    "type": "mqtt-broker",
    "name": "AWS IOT Broker: MtxIOTEmbalse359804082082704",
    "broker": "a1p5lwieuci5ad-ats.iot.us-east-1.amazonaws.com",
    "port": "8883",
    "tls": "747c2290.04ff6c",
    "clientid": "MtxIOTEmbalse359804082082704",
    "usetls": true,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "b35b3547.c75d58",
    "type": "tls-config",
    "name": "MtxIOTCamaraCarga359804082082837",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "a9bc79e2c4-certificate.pem.crt",
    "keyname": "a9bc79e2c4-private.pem.key",
    "caname": "AmazonRootCA1.pem.txt",
    "servername": "",
    "verifyservercert": true
  },
  {
    "id": "2f7efee0.981982",
    "type": "mqtt-broker",
    "name": "Synergia_Dispositivos_IOT",
    "broker": "a1p5lwieuci5ad-ats.iot.us-east-1.amazonaws.com",
    "port": "8883",
    "tls": "b35b3547.c75d58",
    "clientid": "Synergia_Dispositivos_IOT",
    "usetls": true,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "744eea2d.fccb14",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "",
    "order": 1,
    "width": 1,
    "height": 1
  },
  {
    "id": "c228327b.7680b",
    "type": "ui_group",
    "name": "Cámara de Carga ",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "a5ed62ba.7aaf1",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "",
    "order": 4,
    "width": 3,
    "height": 1
  },
  {
    "id": "448fc0dc.d61bd",
    "type": "ui_group",
    "name": "Embalse Macha Macha ",
    "tab": "",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "b1fa7d7f.3a79",
    "type": "ui_tab",
    "name": "Señales Cumbre",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "6d11cc31.901a34",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "85d1f038.cdc31",
    "order": 6,
    "width": "20",
    "height": 1
  },
  {
    "id": "cc9dcb76.e1d988",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "85d1f038.cdc31",
    "order": 11,
    "width": "20",
    "height": 1
  },
  {
    "id": "4c5431b3.7bdc9",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "397e2f70.4aa15",
    "order": 17,
    "width": "20",
    "height": 1
  },
  {
    "id": "c6f8ac9e.00643",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "Status Debugger",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 160,
    "wires": []
  },
  {
    "id": "1a361e17.6887c2",
    "type": "catch",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 120,
    "y": 120,
    "wires": [["1069f8d.4abbe07", "c6f8ac9e.00643"]]
  },
  {
    "id": "97c9577a.a32058",
    "type": "ui_toast",
    "z": "f6f2187d.f17ca8",
    "position": "top right",
    "displayTime": "5",
    "highlight": "RED",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "ERROR!",
    "name": "",
    "x": 580,
    "y": 60,
    "wires": []
  },
  {
    "id": "1069f8d.4abbe07",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "func": "msg.payload = msg.error.message;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 380,
    "y": 60,
    "wires": [["97c9577a.a32058"]]
  },
  {
    "id": "52eaf5a8.273a5c",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.05",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI00 =buf.slice(4,6); //buffer[2], buffer[3]\nconst value = X3AI00.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1860,
    "wires": [["3e5b4625.215aca", "45a4e9f6.e91588"]]
  },
  {
    "id": "af7f0404.3a58c8",
    "type": "mqtt in",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "topic": "359804082082704/ATR",
    "qos": "2",
    "datatype": "auto",
    "broker": "32678424.59371c",
    "x": 2100,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "e14041de.3bdbf",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.06",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI01 =buf.slice(6,8); //buffer[2], buffer[3]\nconst value = X3AI01.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1960,
    "wires": [["970e8a61.88e848", "918eb3f9.9b77"]]
  },
  {
    "id": "970e8a61.88e848",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "T. Devanado V.",
    "group": "397e2f70.4aa15",
    "order": 2,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "T. Devanado V.",
    "label": "EA1.06",
    "format": "{{msg.value}}",
    "min": "3",
    "max": "21",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 740,
    "y": 1940,
    "wires": []
  },
  {
    "id": "3e5b4625.215aca",
    "type": "ui_digital_display",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "397e2f70.4aa15",
    "order": 7,
    "width": 2,
    "height": 1,
    "digits": "5",
    "decimals": "3",
    "x": 740,
    "y": 1880,
    "wires": []
  },
  {
    "id": "edf9be70.2a2b5",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.07",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI02 =buf.slice(8,10); //buffer[4], buffer[5]\nconst value = X3AI02.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 2060,
    "wires": [["a08adfae.02616", "76a7aaae.bd8c64"]]
  },
  {
    "id": "8f765d02.6c3f9",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "T. Cojinete L.A.",
    "group": "397e2f70.4aa15",
    "order": 4,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "T. Cojinete L.A.",
    "label": "EA1.08",
    "format": "{{msg.value}}",
    "min": "3",
    "max": "21",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 740,
    "y": 2140,
    "wires": []
  },
  {
    "id": "5b06c13a.0c779",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "T. Cojinete L.O.A.",
    "group": "397e2f70.4aa15",
    "order": 5,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "T. Cojinete L.O.A.",
    "label": "EA1.09",
    "format": "{{msg.value}}",
    "min": "3",
    "max": "12",
    "colors": ["#1d72fc", "#e6e600", "#ca3838"],
    "seg1": "6",
    "seg2": "8",
    "x": 750,
    "y": 2240,
    "wires": []
  },
  {
    "id": "169d9414.a319ac",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.08",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI03 =buf.slice(10,12); //buffer[6], buffer[7]\nconst value = X3AI03.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 2160,
    "wires": [["8f765d02.6c3f9", "84584cde.89df6"]]
  },
  {
    "id": "366306bb.0559ca",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.09",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI04 =buf.slice(12,14); //buffer[8], buffer[9]\nconst value = X3AI04.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 2260,
    "wires": [["5b06c13a.0c779", "4d742768.ad96f8"]]
  },
  {
    "id": "918eb3f9.9b77",
    "type": "ui_digital_display",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "397e2f70.4aa15",
    "order": 9,
    "width": 2,
    "height": 1,
    "digits": "5",
    "decimals": "3",
    "x": 740,
    "y": 1980,
    "wires": []
  },
  {
    "id": "84584cde.89df6",
    "type": "ui_digital_display",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "397e2f70.4aa15",
    "order": 13,
    "width": 2,
    "height": 1,
    "digits": "5",
    "decimals": "3",
    "x": 740,
    "y": 2180,
    "wires": []
  },
  {
    "id": "4d742768.ad96f8",
    "type": "ui_digital_display",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "397e2f70.4aa15",
    "order": 15,
    "width": 2,
    "height": 1,
    "digits": "5",
    "decimals": "3",
    "x": 740,
    "y": 2280,
    "wires": []
  },
  {
    "id": "a08adfae.02616",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "T. Devanado W.",
    "group": "397e2f70.4aa15",
    "order": 3,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "T. Devanado W.",
    "label": "EA1.07",
    "format": "{{msg.value}}",
    "min": "3.9",
    "max": "20.1",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 740,
    "y": 2040,
    "wires": []
  },
  {
    "id": "45a4e9f6.e91588",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "T. Devanado U",
    "group": "397e2f70.4aa15",
    "order": 1,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "T. Devanado U.",
    "label": "EA1.05",
    "format": "{{msg.value}}",
    "min": "3.9",
    "max": "20.1",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 740,
    "y": 1840,
    "wires": []
  },
  {
    "id": "d6e1c80c.9795e8",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "Widget de Temperaturas",
    "info": "",
    "x": 450,
    "y": 1800,
    "wires": []
  },
  {
    "id": "80f2df42.b43f3",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.00",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI00 =buf.slice(14,16); //buffer[2], buffer[3]\nconst value = X3AI00.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 2380,
    "wires": [["ef45243d.508658"]]
  },
  {
    "id": "37a1f622.585cca",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.06",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI01 =buf.slice(16,18); //buffer[2], buffer[3]\nconst value = X3AI01.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 2420,
    "wires": [["12f1438a.2f0ecc"]]
  },
  {
    "id": "9afc2756.d42c48",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.07",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI02 =buf.slice(4,6); //buffer[4], buffer[5]\nconst value = X3AI02.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 2460,
    "wires": [["75b0bab1.322df4"]]
  },
  {
    "id": "206fcb05.1ae9d4",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.08",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI03 =buf.slice(6,8); //buffer[6], buffer[7]\nconst value = X3AI03.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 2500,
    "wires": [["aa18d39b.08196"]]
  },
  {
    "id": "f1e5b3d9.3f068",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "EA1.09",
    "func": "var buf = Buffer.from(msg.payload.buffer);\nconst X3AI04 =buf.slice(8,10); //buffer[8], buffer[9]\nconst value = X3AI04.readInt16LE();\nmsg.value = value*2/1000;\nmsg.payload = msg.value;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 2540,
    "wires": [["3cf59fc7.7e3c8"]]
  },
  {
    "id": "ef45243d.508658",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "P. Activa MW",
    "group": "85d1f038.cdc31",
    "order": 1,
    "width": 4,
    "height": 3,
    "gtype": "donut",
    "title": "P. Activa MW",
    "label": "EA1.00",
    "format": "{{msg.value}}",
    "min": "3",
    "max": "21",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 730,
    "y": 2380,
    "wires": []
  },
  {
    "id": "12f1438a.2f0ecc",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "P. Reactiva MVA",
    "group": "85d1f038.cdc31",
    "order": 2,
    "width": 4,
    "height": 3,
    "gtype": "donut",
    "title": "P. Reactiva MVA",
    "label": "EA1.01",
    "format": "{{msg.value}}",
    "min": "3",
    "max": "21",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 740,
    "y": 2420,
    "wires": []
  },
  {
    "id": "75b0bab1.322df4",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "Cos [Phi]",
    "group": "85d1f038.cdc31",
    "order": 3,
    "width": 4,
    "height": 3,
    "gtype": "donut",
    "title": "Cos [Phi]",
    "label": "",
    "format": "{{msg.value}}",
    "min": "3",
    "max": "21",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 720,
    "y": 2460,
    "wires": []
  },
  {
    "id": "aa18d39b.08196",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "Voltaje KV",
    "group": "85d1f038.cdc31",
    "order": 4,
    "width": 4,
    "height": 3,
    "gtype": "donut",
    "title": "Voltaje KV",
    "label": "",
    "format": "{{msg.value}}",
    "min": "3",
    "max": "21",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 730,
    "y": 2500,
    "wires": []
  },
  {
    "id": "3cf59fc7.7e3c8",
    "type": "ui_gauge",
    "z": "f6f2187d.f17ca8",
    "name": "Corriente A",
    "group": "85d1f038.cdc31",
    "order": 5,
    "width": 4,
    "height": 3,
    "gtype": "donut",
    "title": "Corriente A",
    "label": "",
    "format": "{{msg.value}}",
    "min": "3",
    "max": "21",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "a",
    "seg2": "b",
    "x": 730,
    "y": 2540,
    "wires": []
  },
  {
    "id": "211d81d9.ae073e",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "Widget datos para la Operación",
    "info": "",
    "x": 430,
    "y": 2320,
    "wires": []
  },
  {
    "id": "d5b20ed4.c5e4b",
    "type": "switch",
    "z": "f6f2187d.f17ca8",
    "name": "MouseUp/MouseDown",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "md", "vt": "str" },
      { "t": "eq", "v": "mu", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1620,
    "y": 520,
    "wires": [["5a97b925.220a58"], ["84544017.5f0c8"]]
  },
  {
    "id": "5a97b925.220a58",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "FC5 MODBUS Set Relay",
    "func": "var fc=5;\nvar sa=msg.address; //topic pulse button\nvar addresses=1;\nmsg.slave_ip=\"192.168.1.20\";\nvar value=1;\nmsg.payload={\"value\":value , 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1970,
    "y": 480,
    "wires": [["1b21638c.aaca8c"]]
  },
  {
    "id": "84544017.5f0c8",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "FC5 MODBUS Clear Relay",
    "func": "var fc=5;\nvar sa=msg.address; //topic pulse button\nvar addresses=1;\nmsg.slave_ip=\"192.168.1.20\";\nvar value=0;\nmsg.payload={\"value\":value , 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1960,
    "y": 560,
    "wires": [["1b21638c.aaca8c"]]
  },
  {
    "id": "1b21638c.aaca8c",
    "type": "modbus-flex-write",
    "z": "f6f2187d.f17ca8",
    "name": "Write",
    "showStatusActivities": true,
    "showErrors": true,
    "server": "9fb69bc8.1ab2a8",
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "x": 2190,
    "y": 540,
    "wires": [["5193cd9e.7bafa4", "bb87d7a3.24d158"], []]
  },
  {
    "id": "5193cd9e.7bafa4",
    "type": "modbus-response",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "registerShowMax": "10",
    "x": 2390,
    "y": 540,
    "wires": []
  },
  {
    "id": "2c0ac28e.676dfe",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "85d1f038.cdc31",
    "name": "Carga",
    "order": 7,
    "width": 4,
    "height": 2,
    "format": "\n<style>\n\n.button {\n  outline: none;\n  border: none;\n  border-radius: 5em;\n  color: white;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  box-shadow: 0px 0px 0px 3px !important;\n\n  margin: 0.5em !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  transition: background-color 0.6s;\n}\n\n.down {\n  background-color: #038FCB;\n  box-shadow: 0px 0px 0px 3px !important;\n  width: 2em !important;\n  height: 2em !important;\n  margin: 0.5em !important;\n}\n\n.down:hover {\n  background-color: #70D5FF;\n}\n\n\n.down:active {\n  background-color: #00628B;\n  box-shadow:  #00628B 0 0px 5px 5px, inset #00000017 0 -1px 1px 0px !important;\n  transition: box-shadow 1s;\n}\n\n.up {\n  background-color: #C03455;\n  box-shadow: 0px 0px 0px 3px !important;\n  width: 2em !important;\n  height: 2em !important;\n  margin: 0.5em !important;\n}\n\n.up:hover {\n  background-color: #F73315;\n}\n\n\n.up:active {\n  background-color: #CC0000;\n  box-shadow:  #FF0000 0 0px 9px 9px, inset #00000017 0 -1px 1px 0px !important;\n  transition: box-shadow 1s;\n}\n\n.block {\n    display: inline-flex;\n    align-items: center;\n}\n\n</style>\n<div style=\"margin-left: 1.5em;\">\n<div class=\"block\">\n    <p style=\"margin:0.5em;\" >Subir Carga</p>\n    <button class='button up' ng-mousedown=\"send({payload: 'md',address:'12'})\" ng-mouseup=\"send({payload: 'mu',address:'12'})\"></button>    \n</div>\n<div class=\"block\">\n    <p style=\"margin:0.5em;\" >Bajar Carga</p>\n<button class='button down' ng-mousedown=\"send({payload: 'md',address:'13'})\" ng-mouseup=\"send({payload: 'mu',address:'13'})\"></button>\n</div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 850,
    "y": 260,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "5a690fb9.6dcd6",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "85d1f038.cdc31",
    "name": "Voltaje",
    "order": 8,
    "width": 4,
    "height": 2,
    "format": "\n<style>\n\n\n</style>\n<div style=\"margin-left: 1.5em;\">\n<div class=\"block\">\n    <p style=\"margin:0.5em;\" >Subir Voltaje</p>\n    <button class='button up' ng-mousedown=\"send({payload: 'md',address:'14'})\" ng-mouseup=\"send({payload: 'mu',address:'14'})\"></button>    \n</div>\n<div class=\"block\">\n    <p style=\"margin:0.5em;\" >Bajar Voltaje</p>\n<button class='button down' ng-mousedown=\"send({payload: 'md',address:'15'})\" ng-mouseup=\"send({payload: 'mu',address:'15'})\"></button>\n</div>\n</div>\n",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 850,
    "y": 300,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "e935626c.055d8",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "Mandos Subir/Bajar Voltaje y Carga",
    "info": "",
    "x": 460,
    "y": 240,
    "wires": []
  },
  {
    "id": "76a7aaae.bd8c64",
    "type": "ui_digital_display",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "397e2f70.4aa15",
    "order": 11,
    "width": 2,
    "height": 1,
    "digits": "5",
    "decimals": "3",
    "x": 740,
    "y": 2080,
    "wires": []
  },
  {
    "id": "725ff78b.e1caf8",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 27,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Protecciones electricas Generador",
    "format": "{{msg.payload}}",
    "layout": "row-right",
    "x": 1140,
    "y": 1700,
    "wires": []
  },
  {
    "id": "cec2e301.907f4",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 28,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Protecciones electricas Generador",
    "x": 820,
    "y": 1700,
    "wires": []
  },
  {
    "id": "eac0f6f0.f6ca68",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 3,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Falla alimentación 24 Vcc",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1050,
    "y": 1220,
    "wires": []
  },
  {
    "id": "2b743f96.bfb27",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 20,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Perturbacion G. Hidráulico",
    "x": 790,
    "y": 1540,
    "wires": []
  },
  {
    "id": "6f893644.90de28",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 1,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Watchdog disparo",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 970,
    "y": 1180,
    "wires": []
  },
  {
    "id": "9c17d4dd.c22848",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 10,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Rele Maestro de Turbina ",
    "x": 790,
    "y": 1340,
    "wires": []
  },
  {
    "id": "faea2235.02f6f",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 5,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Fallo senal DTL",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 960,
    "y": 1260,
    "wires": []
  },
  {
    "id": "380bcfaa.99a28",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 2,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Watchdog disparo",
    "x": 760,
    "y": 1180,
    "wires": []
  },
  {
    "id": "e5142a50.063928",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 9,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Rele Maestro de Turbina ",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1050,
    "y": 1340,
    "wires": []
  },
  {
    "id": "57bebb1.c345d44",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 24,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Falla de caudal G. de Lubricación ",
    "x": 810,
    "y": 1620,
    "wires": []
  },
  {
    "id": "ad3b389a.fbd768",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 7,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Turbina lista para arrancar",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1050,
    "y": 1300,
    "wires": []
  },
  {
    "id": "4572c1db.1f1b3",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 12,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Rele Maestro de Generador",
    "x": 800,
    "y": 1380,
    "wires": []
  },
  {
    "id": "a0dbd27e.65cb8",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 11,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Rele Maestro de Generador",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1080,
    "y": 1380,
    "wires": []
  },
  {
    "id": "197d4fd3.f407f",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 4,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Falla alimentación 24 Vcc",
    "x": 790,
    "y": 1220,
    "wires": []
  },
  {
    "id": "7a71a788.345c48",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 15,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "T. Cojinetes muy alta",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1000,
    "y": 1460,
    "wires": []
  },
  {
    "id": "5afbfa74.934b74",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 26,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Fallo L. Quillacollo ",
    "x": 770,
    "y": 1660,
    "wires": []
  },
  {
    "id": "f5fde60.9bc8118",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 13,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "T. Devanados muy alta",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1020,
    "y": 1420,
    "wires": []
  },
  {
    "id": "5fce7a15.751b54",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 14,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED T. Devanados muy alta",
    "x": 780,
    "y": 1420,
    "wires": []
  },
  {
    "id": "fa2be155.7aaea",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 17,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "T. Vibraciones muy altas Coj.",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1080,
    "y": 1500,
    "wires": []
  },
  {
    "id": "1babcf7d.806211",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 6,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Fallo senal DTL",
    "x": 760,
    "y": 1260,
    "wires": []
  },
  {
    "id": "5c43377c.2a8fe8",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 21,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Perturbacion G. de Lubricación",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1110,
    "y": 1580,
    "wires": []
  },
  {
    "id": "fc63ab77.1a7d78",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 22,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Perturbacion G. de Lubricación",
    "x": 810,
    "y": 1580,
    "wires": []
  },
  {
    "id": "f892a8b1.6c3678",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 19,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Perturbacion G. Hidráulico",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1060,
    "y": 1540,
    "wires": []
  },
  {
    "id": "55b9a0a3.3b88a",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 16,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED T. Cojinetes muy alta",
    "x": 770,
    "y": 1460,
    "wires": []
  },
  {
    "id": "ead50dde.23f3e",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 23,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Falla de caudal G. de Lubricación ",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1120,
    "y": 1620,
    "wires": []
  },
  {
    "id": "60475bb6.933a84",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 8,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Turbina lista para arrancar",
    "x": 790,
    "y": 1300,
    "wires": []
  },
  {
    "id": "b7c5d27a.f7bcb",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 29,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Fallo exitacion Generador",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1050,
    "y": 1740,
    "wires": []
  },
  {
    "id": "402dd130.1e384",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 30,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED Fallo Exitacion generador",
    "x": 790,
    "y": 1740,
    "wires": []
  },
  {
    "id": "a3439ca9.b4849",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "3d89e668.5ced6a",
    "order": 25,
    "width": 5,
    "height": 1,
    "name": "",
    "label": "Fallo L. Quillacollo ",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 990,
    "y": 1660,
    "wires": []
  },
  {
    "id": "97f9dee9.97cc",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 18,
    "group": "3d89e668.5ced6a",
    "width": 1,
    "height": 1,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "true", "valueType": "bool" },
      { "color": "#808080", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "LED T. Vibraciones muy altas Coj.",
    "x": 800,
    "y": 1500,
    "wires": []
  },
  {
    "id": "1e2956f3.202779",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED1.11",
    "func": "msg.payload = msg.payload[26];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1180,
    "wires": [["380bcfaa.99a28"]]
  },
  {
    "id": "ad33ba6c.20bd28",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED1.12",
    "func": "msg.payload = msg.payload[27];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1220,
    "wires": [["197d4fd3.f407f"]]
  },
  {
    "id": "8b4965a3.ba3e98",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED1.13",
    "func": "msg.payload = msg.payload[28];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1260,
    "wires": [["1babcf7d.806211"]]
  },
  {
    "id": "89d905eb.06f838",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED1.14",
    "func": "msg.payload = msg.payload[29];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1300,
    "wires": [["60475bb6.933a84"]]
  },
  {
    "id": "ee0e25d9.4e7bc8",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED1.15",
    "func": "msg.payload = msg.payload[30];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1340,
    "wires": [["9c17d4dd.c22848"]]
  },
  {
    "id": "90e543ee.d3bad",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.00",
    "func": "msg.payload = msg.payload[287];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1380,
    "wires": [["4572c1db.1f1b3"]]
  },
  {
    "id": "9d36fcb9.d210b",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.01",
    "func": "msg.payload = msg.payload[288];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1420,
    "wires": [["5fce7a15.751b54"]]
  },
  {
    "id": "883458a.9ac37a8",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.02",
    "func": "msg.payload = msg.payload[289];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1460,
    "wires": [["55b9a0a3.3b88a"]]
  },
  {
    "id": "650621e2.029df",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.03",
    "func": "msg.payload = msg.payload[290];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1500,
    "wires": [["97f9dee9.97cc"]]
  },
  {
    "id": "fbcc4b2c.9666e8",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.04",
    "func": "msg.payload = msg.payload[291];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1540,
    "wires": [["2b743f96.bfb27"]]
  },
  {
    "id": "eee682e0.6a686",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.06",
    "func": "msg.payload = msg.payload[293];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1580,
    "wires": [["fc63ab77.1a7d78"]]
  },
  {
    "id": "bcb2f553.73b968",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.07",
    "func": "msg.payload = msg.payload[294];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1620,
    "wires": [["57bebb1.c345d44"]]
  },
  {
    "id": "14cb8b36.743fc5",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.08",
    "func": "msg.payload = msg.payload[295];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1660,
    "wires": [["5afbfa74.934b74"]]
  },
  {
    "id": "52a740ea.5021",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.09",
    "func": "msg.payload = msg.payload[296];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1700,
    "wires": [["cec2e301.907f4"]]
  },
  {
    "id": "2e8d5ed2.94def2",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "ED2.10",
    "func": "msg.payload = msg.payload[297];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 1740,
    "wires": [["402dd130.1e384"]]
  },
  {
    "id": "f178524.b2ff8b",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "Widget Panel de Alarmas",
    "info": "",
    "x": 490,
    "y": 1140,
    "wires": []
  },
  {
    "id": "ea5c92f9.17ee7",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "Notificacion de errores",
    "info": "",
    "x": 120,
    "y": 40,
    "wires": []
  },
  {
    "id": "63765bfa.255ae4",
    "type": "ui_led",
    "z": "f6f2187d.f17ca8",
    "order": 1,
    "group": "2f993ba5.76db54",
    "width": 2,
    "height": 2,
    "label": "",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "#ff0000", "value": "false", "valueType": "bool" },
      { "color": "#0094ce", "value": "true", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 2370,
    "y": 240,
    "wires": []
  },
  {
    "id": "9d02e4c9.136c18",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "FC switch Button",
    "func": "if (msg.payload === true)\n    node.send({\n        ui_control:{onicon:\"fa-arrow-circle-right fa-4x\",oncolor:\"#0094CE\"},\n        label:\"\",\n        tooltip: \"\",\n        payload:true});\nelse if(msg.payload === false)\n    node.send({\n        ui_control:{officon:\"fa-arrow-circle-left fa-4x\",offcolor:\"#0094CE\"},\n        label:\"\",\n        tooltip: \"\",\n        payload:false});",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1650,
    "y": 160,
    "wires": [["aa98fb5b.c33738"]]
  },
  {
    "id": "aa98fb5b.c33738",
    "type": "ui_switch",
    "z": "f6f2187d.f17ca8",
    "name": "Pulse Button",
    "label": "{{msg.label}}",
    "tooltip": "{{msg.tooltip}}",
    "group": "2f993ba5.76db54",
    "order": 2,
    "width": 2,
    "height": 2,
    "passthru": false,
    "decouple": "true",
    "topic": "0",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "onicon",
    "oncolor": "oncolor",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "officon",
    "offcolor": "offcolor",
    "animate": true,
    "x": 1830,
    "y": 200,
    "wires": [["fb801998.38bbb8"]]
  },
  {
    "id": "fb801998.38bbb8",
    "type": "trigger",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "op1": "true",
    "op2": "false",
    "op1type": "bool",
    "op2type": "bool",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "1",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2040,
    "y": 220,
    "wires": [["3386e0c6.08ce8", "63765bfa.255ae4"]]
  },
  {
    "id": "3386e0c6.08ce8",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "FC5",
    "func": "var fc=5;\nvar sa=msg.address; //topic pulse button\nvar addresses=1;\nmsg.slave_ip=\"192.168.1.20\";\nvar value=1;\nmsg.payload={\"value\":value , 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 2370,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "95bfa2bb.dcc03",
    "type": "ui_switch",
    "z": "f6f2187d.f17ca8",
    "name": "Pulse Button",
    "label": "{{msg.label}}",
    "tooltip": "{{msg.tooltip}}",
    "group": "2f993ba5.76db54",
    "order": 4,
    "width": 2,
    "height": 2,
    "passthru": false,
    "decouple": "true",
    "topic": "1",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "onicon",
    "oncolor": "oncolor",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "officon",
    "offcolor": "offcolor",
    "animate": true,
    "x": 1830,
    "y": 260,
    "wires": [["fb801998.38bbb8"]]
  },
  {
    "id": "75ec61a8.34f56",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "FC switch Button",
    "func": "if (msg.payload === true)\n    node.send({\n        ui_control:{onicon:\"fa-arrow-circle-right fa-4x\",oncolor:\"#0094CE\"},\n        label:\"\",\n        tooltip: \"\",\n        payload:true});\nelse if(msg.payload === false)\n    node.send({\n        ui_control:{officon:\"fa-arrow-circle-left fa-4x\",offcolor:\"#0094CE\"},\n        label:\"\",\n        tooltip: \"\",\n        payload:false});",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1590,
    "y": 260,
    "wires": [["95bfa2bb.dcc03"]]
  },
  {
    "id": "54f90f03.2697f",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "Widget Procedimiento de arranque de turbina",
    "info": "",
    "x": 470,
    "y": 320,
    "wires": []
  },
  {
    "id": "d4457042.b6eb9",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado: Bomba 1000 funcionando ",
    "func": "msg.payload = msg.payload[1];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 460,
    "wires": [["aeb7510.ed81eb"]]
  },
  {
    "id": "f5e20864.337298",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado: Bomba 1000 parado",
    "func": "msg.payload = msg.payload[0];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 500,
    "wires": [["a70cee7d.1a4ae"]]
  },
  {
    "id": "530ac8ed.c70298",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado By-Pass Abierto",
    "func": "msg.payload = msg.payload[18];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 660,
    "wires": [["cc6c9363.d93b3"]]
  },
  {
    "id": "653e359f.9420ac",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado By-Pass Cerrado",
    "func": "msg.payload = msg.payload[19];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 700,
    "wires": [["625fd714.b037d8"]]
  },
  {
    "id": "6d36efe3.13ef9",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado Poner Sellos",
    "func": "msg.payload = msg.payload[20];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 760,
    "wires": [["50ee762d.c704b8"]]
  },
  {
    "id": "b5a9277b.8e4908",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado Quitar Sellos",
    "func": "msg.payload = msg.payload[21];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 800,
    "wires": [["f598998e.5cab58"]]
  },
  {
    "id": "2b905678.609d2a",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado Válvula Esférica Abierta",
    "func": "msg.payload = msg.payload[22];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 860,
    "wires": [["3090ff2c.9bf31"]]
  },
  {
    "id": "b4a2c0f2.df803",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado Válvula Esférica Cerrada",
    "func": "msg.payload = msg.payload[23];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 900,
    "wires": [["ca89bd2e.0eb53"]]
  },
  {
    "id": "6ae5b247.aed43c",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "func": "msg.payload = msg.payload[12];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 620,
    "y": 960,
    "wires": [["79c43d64.ce9354"]]
  },
  {
    "id": "f6937c1e.6cbf1",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "func": "msg.payload = msg.payload[13];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 620,
    "y": 1000,
    "wires": [["b7e029fe.38f0c8"]]
  },
  {
    "id": "56f844cf.64c37c",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Perturbacion G. Lubricación",
    "func": "msg.payload = msg.payload[14];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 1060,
    "wires": [["9d26de77.185f2"]]
  },
  {
    "id": "d82168f0.bbde98",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Falta caudal G. Lubricación",
    "func": "msg.payload = msg.payload[15];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 1100,
    "wires": [["a91325fd.cfc778"]]
  },
  {
    "id": "a70cee7d.1a4ae",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Parar Bomba 1000",
    "order": 2,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Parar Bomba 1000</p>\n    <button\n      class=\"led-button\"\n      ng-class=\"msg.payload==true ? 'on-red ' : 'off-red'\"\n      ng-mousedown=\"send({payload: 'md',address:'1'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'1'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 950,
    "y": 500,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "cc6c9363.d93b3",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Abrir By-Pass",
    "order": 3,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Turbina en Automático</p>\n    <button\n      class=\"led-button-primary\"\n      ng-class=\"msg.payload==true ? 'on-cyan' : 'off-cyan'\"\n      ng-mousedown=\"send({payload: 'md',address:'2'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'2'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 900,
    "y": 660,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "625fd714.b037d8",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Cerrar By-Pass",
    "order": 4,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Turbina en Automático</p>\n    <button\n      class=\"led-button\"\n      ng-class=\"msg.payload==true ? 'on-red ' : 'off-red'\"\n      ng-mousedown=\"send({payload: 'md',address:'3'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'3'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 900,
    "y": 700,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "50ee762d.c704b8",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Poner Sellos",
    "order": 5,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Poner Sellos</p>\n    <button\n      class=\"led-button\"\n      ng-class=\"msg.payload==true ? 'on-red ' : 'off-red'\"\n      ng-mousedown=\"send({payload: 'md',address:'4'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'4'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 950,
    "y": 760,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "f598998e.5cab58",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Quitar Sellos",
    "order": 6,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Quitar Sellos</p>\n    <button\n      class=\"led-button-primary\"\n      ng-class=\"msg.payload==true ? 'on-cyan' : 'off-cyan'\"\n      ng-mousedown=\"send({payload: 'md',address:'5'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'5'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 950,
    "y": 800,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "3090ff2c.9bf31",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Abrir Válvula Esférica",
    "order": 10,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Abrir Válvula Esférica</p>\n    <button\n      class=\"led-button-primary\"\n      ng-class=\"msg.payload==true ? 'on-cyan' : 'off-cyan'\"\n      ng-mousedown=\"send({payload: 'md',address:'6'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'6'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 960,
    "y": 860,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "ca89bd2e.0eb53",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Cerrar Válvula Esférica",
    "order": 11,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Cerrar Válvula Esférica</p>\n    <button\n      class=\"led-button\"\n      ng-class=\"msg.payload==true ? 'on-red ' : 'off-red'\"\n      ng-mousedown=\"send({payload: 'md',address:'7'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'7'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 970,
    "y": 900,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "9d26de77.185f2",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Arrancar Bomba Lub.",
    "order": 12,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Arrancar Bomba Lub.</p>\n    <button\n      class=\"led-button-primary\"\n      ng-class=\"msg.payload==true ? 'on-cyan' : 'off-cyan'\"\n      ng-mousedown=\"send({payload: 'md',address:'8'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'8'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 960,
    "y": 1060,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "a91325fd.cfc778",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Parar Bomba Lub.",
    "order": 13,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Parar Bomba Lub.</p>\n    <button\n      class=\"led-button\"\n      ng-class=\"msg.payload==true ? 'on-red ' : 'off-red'\"\n      ng-mousedown=\"send({payload: 'md',address:'9'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'9'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 950,
    "y": 1100,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "f016c588.563198",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Turbina modo Automático",
    "order": 14,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Turbina modo Automático</p>\n    <button\n      class=\"led-button\"\n      ng-class=\"msg.payload==true ? 'on-red ' : 'off-red'\"\n      ng-mousedown=\"send({payload: 'md',address:'302'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'302'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 970,
    "y": 600,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "3d423138.b1be1e",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Turbina modo Manual",
    "order": 15,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Turbina modo Manual</p>\n    <button\n      class=\"led-button-primary\"\n      ng-class=\"msg.payload==true ? 'on-cyan ' : 'off-cyan'\"\n      ng-mousedown=\"send({payload: 'md',address:'301'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'301'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 960,
    "y": 560,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "79c43d64.ce9354",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Arrancar Turbina",
    "order": 19,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Arrancar Turbina</p>\n    <button\n      class=\"led-button-primary\"\n      ng-class=\"msg.payload==true ? 'on-cyan' : 'off-cyan'\"\n      ng-mousedown=\"send({payload: 'md',address:'10'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'10'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 950,
    "y": 960,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "b7e029fe.38f0c8",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Parar Turbina",
    "order": 20,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Parar Turbina</p>\n    <button\n      class=\"led-button\"\n      ng-class=\"msg.payload==true ? 'on-red ' : 'off-red'\"\n      ng-mousedown=\"send({payload: 'md',address:'11'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'11'})\"\n    />\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 940,
    "y": 1000,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "a3edabce.98d978",
    "type": "modbus-flex-getter",
    "z": "f6f2187d.f17ca8",
    "name": "flex getter",
    "showStatusActivities": true,
    "showErrors": true,
    "logIOActivities": false,
    "server": "9fb69bc8.1ab2a8",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "x": 360,
    "y": 1220,
    "wires": [
      [
        "d4457042.b6eb9",
        "f5e20864.337298",
        "530ac8ed.c70298",
        "653e359f.9420ac",
        "6d36efe3.13ef9",
        "b5a9277b.8e4908",
        "2b905678.609d2a",
        "6ae5b247.aed43c",
        "f6937c1e.6cbf1",
        "56f844cf.64c37c",
        "d82168f0.bbde98",
        "1e2956f3.202779",
        "ad33ba6c.20bd28",
        "8b4965a3.ba3e98",
        "89d905eb.06f838",
        "ee0e25d9.4e7bc8",
        "90e543ee.d3bad",
        "9d36fcb9.d210b",
        "883458a.9ac37a8",
        "650621e2.029df",
        "fbcc4b2c.9666e8",
        "eee682e0.6a686",
        "bcb2f553.73b968",
        "14cb8b36.743fc5",
        "52a740ea.5021",
        "2e8d5ed2.94def2",
        "6f2fedb.b64df14",
        "2fbddc23.721664",
        "c458ff4b.32194",
        "e2b07ff4.c6439"
      ],
      [
        "52eaf5a8.273a5c",
        "e14041de.3bdbf",
        "edf9be70.2a2b5",
        "169d9414.a319ac",
        "366306bb.0559ca",
        "80f2df42.b43f3",
        "37a1f622.585cca"
      ]
    ]
  },
  {
    "id": "5ab4fd5c.360284",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "FC5 MODBUS Set Relay",
    "func": "var fc=1;\nvar sa=0; //topic pulse button\nvar addresses=490;\nmsg.slave_ip=\"192.168.1.20\";\nvar value=1;\nmsg.payload={\"value\":value , 'fc': fc, 'unitid': 1, 'address': sa , 'quantity': addresses };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 170,
    "y": 1220,
    "wires": [["a3edabce.98d978"]]
  },
  {
    "id": "92e85f1d.2f04e",
    "type": "inject",
    "z": "f6f2187d.f17ca8",
    "name": "Entradas analogicas",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 160,
    "y": 1320,
    "wires": [["5ab4fd5c.360284"]]
  },
  {
    "id": "aeb7510.ed81eb",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Arrancar Bomba 1000",
    "order": 1,
    "width": 3,
    "height": 3,
    "format": "<div style=\"margin-left: 0em;\">\n  <div class=\"control-block\">\n    <p class=\"title\">Arrancar Bomba 1000</p>\n    <button\n      class=\"led-button-primary\"\n      ng-class=\"msg.payload==true ? 'on-cyan' : 'off-cyan'\"\n      ng-mousedown=\"send({payload: 'md',address:'0'})\"\n      ng-mouseup=\"send({payload: 'mu',address:'0'})\"\n    />\n  </div>\n</div>\n",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 980,
    "y": 460,
    "wires": [["d5b20ed4.c5e4b"]]
  },
  {
    "id": "4d26e6ec.8989a8",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "6211c3ac.95491c",
    "name": "Engineer Mind Template CSS",
    "order": 14,
    "width": 0,
    "height": 0,
    "format": "\n<style>\n\n.led-button-primary  {\n  outline: none;\n  border: none;\n  border-radius: 5em;\n  color: white;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  margin: 0.5em !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  transition: background-color 0.6s;   \n}\n\n.led-button  {\n  outline: none;\n  border: none;\n  border-radius: 5em;\n  color: white;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n  \n  margin: 0.5em !important;\n  min-width: 0px !important;\n  min-height: 0px !important;\n  white-space: nowrap;\n  text-transform: uppercase;\n  font-weight: 500;\n  font-size: 14px;\n  transition: background-color 0.6s;   \n}\n.on-red {\n  background-color: #CC0000;\n  box-shadow:  #FF0000 0 0px 9px 9px, inset #00000017 0 -1px 1px 0px !important;\n  width: 2.5em !important;\n  height: 2.5em !important;\n  margin: 0.5em !important;\n  transition: box-shadow 0.6s;   \n}\n\n.off-red {\n  background-color: #C03455;\n  box-shadow: 0px 0px 0px 3px !important;\n  width: 2.5em !important;\n  height: 2.5em !important;\n  margin: 0.5em !important;\n  transition: box-shadow 0.6s;\n}\n\n.on-cyan {\n  background-color: #5AFFF5;\n  box-shadow:  #5AFFF5 0 0px 9px 9px, inset #00000017 0 -1px 1px 0px !important;\n  width: 2.5em !important;\n  height: 2.5em !important;\n  margin: 0.5em !important;\n  transition: box-shadow 0.6s;   \n}\n\n.off-cyan {\n  background-color: #0EA59B;\n  box-shadow: 0px 0px 0px 3px !important;\n  width: 2.5em !important;\n  height: 2.5em !important;\n  margin: 0.5em !important;\n  transition: box-shadow 0.6s;\n}\n\n.led-button-primary:hover {\n  background-color: #0CDACC;\n}\n\n\n.led-button-primary:active {\n  background-color: #5AFFF5;\n  box-shadow:  #5AFFF5 0 0px 9px 9px, inset #00000017 0 -1px 1px 0px !important;\n  transition: box-shadow 1s;\n}\n\n.up {\n  background-color: #C03455;\n  box-shadow: 0px 0px 0px 3px !important;\n  width: 2em !important;\n  height: 2em !important;\n  margin: 0.5em !important;\n}\n\n.led-button:hover {\n  background-color: #F73315;\n}\n\n\n.led-button:active {\n  background-color: #CC0000;\n  box-shadow:  #FF0000 0 0px 9px 9px, inset #00000017 0 -1px 1px 0px !important;\n  transition: box-shadow 1s;\n}\n\n.control-block {\n    display: content;\n    text-align-last: center;\n}\n\n.title {\n    text-align: center;\n    margin:0.5em;\n    min-height: 3em;\n}\n\n.text-red {\n    color: #CC0000 !important;\n    margin-left: 4.5em;\n}\n\n.text-cyan {\n    color:#5AFFF5 !important;\n    margin-left: 4.5em;\n\n}\n</style>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 680,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "c6fffd9a.1c6d6",
    "type": "comment",
    "z": "140bc66a.3a087a",
    "name": "MTX-RTU: Cámara de Carga",
    "info": "",
    "x": 160,
    "y": 600,
    "wires": []
  },
  {
    "id": "58072540.6d791c",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT+CSQ",
    "payloadType": "str",
    "x": 120,
    "y": 120,
    "wires": [["61ba9e66.41fbd"]]
  },
  {
    "id": "ef69f6e3.335858",
    "type": "comment",
    "z": "140bc66a.3a087a",
    "name": "MTX-RTU: Embalse Macha Macha",
    "info": "",
    "x": 180,
    "y": 40,
    "wires": []
  },
  {
    "id": "78e4915.f9c217",
    "type": "comment",
    "z": "140bc66a.3a087a",
    "name": "Mosquitto Broker to AWS - IOT Broker Bridge",
    "info": "Mosquitto Broker to AWS - IOT Bridge",
    "x": 590,
    "y": 335,
    "wires": []
  },
  {
    "id": "4b416639.e888d8",
    "type": "mqtt out",
    "z": "ab29512f.3b1bd",
    "d": true,
    "name": "",
    "topic": "359804082082704/AT",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "477ddab9.e9b994",
    "x": 540,
    "y": 80,
    "wires": []
  },
  {
    "id": "27923ed7.92dcd2",
    "type": "function",
    "z": "ab29512f.3b1bd",
    "name": "Function with examples",
    "func": "//InData=JSON.stringify(msg);\n//OutData=JSON.parse(InData);\n//var data1=OutData[\"payload\"];\n//var data=OutData.msg;\n//msg.payload = msg.payload;\n\n// AT command and Voltage data Split\n//var spaceSplit = { data: msg.payload.split(\" \") }; // Split space in the string\n\n// AT command identification \n//var AtEnterSplit = { data: spaceSplit.data[0].split(\"=\")}; \n\n// AT coomand - Analog input Nº1: AT^SRADC=1 \n//var At_id = { data:AtEnterSplit.data[0]}\n\n// Voltage value extration from JSON\n//var VoltageEnterSplit = { data: spaceSplit.data[1].split(\"\\n\")}; // Split \"Enter\" in the string\n//var Voltage = {payload: VoltageEnterSplit.data[0]}\n\nvar enterSplit = { data: msg.payload.split(\"\\n\") };\nvar numSplit = { data: enterSplit.data[0].split(\"=\") };\n\nvar topic=numSplit.data[1];\nif (topic== 0){\n    var spaceSplit1 = { data: enterSplit.data[2].split(\" \") };\n    var voltage1 = {payload: spaceSplit1.data[1]}\n    return [voltage1,null];\n}\nif (topic== 1 ){\n    var spaceSplit2 = { data: enterSplit.data[2].split(\" \") };\n    var voltage2 = {payload: spaceSplit2.data[1]}\n    return [null,voltage2];\n}\n\n//return [numSplit];\n\n\n\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 150,
    "y": 220,
    "wires": [[], []]
  },
  {
    "id": "68a71809.8045e8",
    "type": "comment",
    "z": "ab29512f.3b1bd",
    "name": "MTX-RTU: Embalse Macha Macha",
    "info": "",
    "x": 180,
    "y": 40,
    "wires": []
  },
  {
    "id": "3bcc74ea.b71eec",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "ATI",
    "payloadType": "str",
    "x": 110,
    "y": 80,
    "wires": [["61ba9e66.41fbd"]]
  },
  {
    "id": "61ba9e66.41fbd",
    "type": "mqtt out",
    "z": "140bc66a.3a087a",
    "name": "",
    "topic": "359804082082704/AT",
    "qos": "1",
    "retain": "",
    "broker": "477ddab9.e9b994",
    "x": 520,
    "y": 80,
    "wires": []
  },
  {
    "id": "c477d13c.3db55",
    "type": "debug",
    "z": "ab29512f.3b1bd",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 167,
    "wires": []
  },
  {
    "id": "611a498a.4d8db8",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETIOS",
    "payloadType": "str",
    "x": 170,
    "y": 160,
    "wires": [["61ba9e66.41fbd"]]
  },
  {
    "id": "1bf2c77e.2227f9",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETADC,1",
    "payloadType": "str",
    "x": 180,
    "y": 200,
    "wires": [["61ba9e66.41fbd"]]
  },
  {
    "id": "b84f1385.96f0f",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETADC,2",
    "payloadType": "str",
    "x": 180,
    "y": 240,
    "wires": [["61ba9e66.41fbd"]]
  },
  {
    "id": "b91fc835.8b7aa8",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=DELETEBBDD",
    "payloadType": "str",
    "x": 199,
    "y": 279,
    "wires": [["61ba9e66.41fbd"]]
  },
  {
    "id": "426d0287.39465c",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT+CSQ",
    "payloadType": "str",
    "x": 120,
    "y": 680,
    "wires": [["a802b685.125018"]]
  },
  {
    "id": "47490579.301bbc",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "ATI",
    "payloadType": "str",
    "x": 110,
    "y": 640,
    "wires": [["a802b685.125018"]]
  },
  {
    "id": "bea11177.4b87",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETIOS",
    "payloadType": "str",
    "x": 170,
    "y": 720,
    "wires": [["a802b685.125018"]]
  },
  {
    "id": "2ceb59aa.d97796",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETADC,1",
    "payloadType": "str",
    "x": 180,
    "y": 760,
    "wires": [["a802b685.125018"]]
  },
  {
    "id": "2da57380.b13f9c",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETADC,2",
    "payloadType": "str",
    "x": 180,
    "y": 800,
    "wires": [["a802b685.125018"]]
  },
  {
    "id": "c7fa998d.a16d48",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=DELETEBBDD",
    "payloadType": "str",
    "x": 200,
    "y": 839,
    "wires": [["a802b685.125018"]]
  },
  {
    "id": "a802b685.125018",
    "type": "mqtt out",
    "z": "140bc66a.3a087a",
    "name": "",
    "topic": "359804082082837/AT",
    "qos": "1",
    "retain": "",
    "broker": "477ddab9.e9b994",
    "x": 520,
    "y": 640,
    "wires": []
  },
  {
    "id": "ddda2364.669d5",
    "type": "mqtt in",
    "z": "140bc66a.3a087a",
    "name": "",
    "topic": "359804082082837/dns",
    "qos": "1",
    "datatype": "auto",
    "broker": "477ddab9.e9b994",
    "x": 160,
    "y": 1040,
    "wires": [["b38afa03.14ac38"]]
  },
  {
    "id": "cc46f773.706998",
    "type": "mqtt in",
    "z": "140bc66a.3a087a",
    "name": "",
    "topic": "359804082082837/ATR",
    "qos": "1",
    "datatype": "auto",
    "broker": "477ddab9.e9b994",
    "x": 160,
    "y": 936,
    "wires": [["b38afa03.14ac38", "aef9c132.7f78d"]]
  },
  {
    "id": "aaf15b77.301dd8",
    "type": "mqtt in",
    "z": "140bc66a.3a087a",
    "name": "",
    "topic": "359804082082837/LOGGER",
    "qos": "1",
    "datatype": "auto",
    "broker": "477ddab9.e9b994",
    "x": 180,
    "y": 988,
    "wires": [["b38afa03.14ac38"]]
  },
  {
    "id": "1305b6ec.514d79",
    "type": "mqtt out",
    "z": "140bc66a.3a087a",
    "name": "To AWS: MtxIOTCamaraCarga359804082082837",
    "topic": "MtxIOTCam359804082082837Topic",
    "qos": "1",
    "retain": "",
    "broker": "312f7913.af0156",
    "x": 630,
    "y": 894,
    "wires": []
  },
  {
    "id": "397b175.c2686e8",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "C. Carga-Topic",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Hello from IMB \"C. Carga-Topic\"",
    "payloadType": "str",
    "x": 140,
    "y": 894,
    "wires": [["1305b6ec.514d79"]]
  },
  {
    "id": "e0fca5e0.fc57b8",
    "type": "mqtt in",
    "z": "140bc66a.3a087a",
    "name": "",
    "topic": "359804082082704/dns",
    "qos": "1",
    "datatype": "auto",
    "broker": "477ddab9.e9b994",
    "x": 160,
    "y": 520,
    "wires": [["e035357e.56fac8"]]
  },
  {
    "id": "13cd1de2.3924d2",
    "type": "mqtt in",
    "z": "140bc66a.3a087a",
    "name": "",
    "topic": "359804082082704/ATR",
    "qos": "1",
    "datatype": "auto",
    "broker": "477ddab9.e9b994",
    "x": 160,
    "y": 411,
    "wires": [["e035357e.56fac8", "5f746a32.2a1654"]]
  },
  {
    "id": "34821790.332a08",
    "type": "mqtt in",
    "z": "140bc66a.3a087a",
    "name": "",
    "topic": "359804082082704/LOGGER",
    "qos": "1",
    "datatype": "auto",
    "broker": "477ddab9.e9b994",
    "x": 179,
    "y": 465,
    "wires": [["e035357e.56fac8"]]
  },
  {
    "id": "580244ff.42b82c",
    "type": "inject",
    "z": "140bc66a.3a087a",
    "name": "Embalse-Topic",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Hello from IMB \"Embalse-Topic\"",
    "payloadType": "str",
    "x": 140,
    "y": 369,
    "wires": [["2cfc2b54.b088b4"]]
  },
  {
    "id": "dd10ef63.44039",
    "type": "debug",
    "z": "140bc66a.3a087a",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 460,
    "wires": []
  },
  {
    "id": "2cfc2b54.b088b4",
    "type": "mqtt out",
    "z": "140bc66a.3a087a",
    "name": "To AWS: MtxIOTEmbalse359804082082704",
    "topic": "MtxIOTEmbalse359804082082704Topic",
    "qos": "1",
    "retain": "",
    "broker": "1742e9e7.d8d216",
    "x": 590,
    "y": 370,
    "wires": []
  },
  {
    "id": "8bfc42f4.96003",
    "type": "mqtt in",
    "z": "140bc66a.3a087a",
    "name": "From AWS: MtxIOTEmbalse359804082082704",
    "topic": "MtxIOTEmbalse359804082082704Topic",
    "qos": "1",
    "datatype": "auto",
    "broker": "1742e9e7.d8d216",
    "x": 540,
    "y": 420,
    "wires": [["dd10ef63.44039", "5f746a32.2a1654"]]
  },
  {
    "id": "df50f56.dc75908",
    "type": "mqtt in",
    "z": "140bc66a.3a087a",
    "name": "From AWS: MtxIOTCamaraCarga359804082082837",
    "topic": "MtxIOTCam359804082082837Topic",
    "qos": "1",
    "datatype": "auto",
    "broker": "312f7913.af0156",
    "x": 630,
    "y": 960,
    "wires": [["52db8daa.522a84", "aef9c132.7f78d"]]
  },
  {
    "id": "52db8daa.522a84",
    "type": "debug",
    "z": "140bc66a.3a087a",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 960,
    "wires": []
  },
  {
    "id": "e035357e.56fac8",
    "type": "debug",
    "z": "140bc66a.3a087a",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 480,
    "wires": []
  },
  {
    "id": "b38afa03.14ac38",
    "type": "debug",
    "z": "140bc66a.3a087a",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 490,
    "y": 1020,
    "wires": []
  },
  {
    "id": "846419b0.339a28",
    "type": "comment",
    "z": "140bc66a.3a087a",
    "name": "Mosquitto Broker to AWS - IOT Broker Bridge",
    "info": "Mosquitto Broker to AWS - IOT Bridge",
    "x": 610,
    "y": 860,
    "wires": []
  },
  {
    "id": "aef9c132.7f78d",
    "type": "link out",
    "z": "140bc66a.3a087a",
    "name": "MtxIOTCamaraCarga359804082082837",
    "links": ["df1d9c79.cc00d", "e9494d87.bfb7a"],
    "x": 1040,
    "y": 920,
    "wires": [],
    "l": true
  },
  {
    "id": "e9494d87.bfb7a",
    "type": "link in",
    "z": "ab29512f.3b1bd",
    "name": "MtxIOTCamaraCarga359804082082837",
    "links": ["aef9c132.7f78d"],
    "x": 200,
    "y": 1080,
    "wires": [["2faffb9d.c22884"]],
    "l": true
  },
  {
    "id": "5f746a32.2a1654",
    "type": "link out",
    "z": "140bc66a.3a087a",
    "name": "MtxIOTEmbalse359804082082704",
    "links": [
      "31e02d6c.57c352",
      "2e4c5b31.b402b4",
      "b77e1caa.29865",
      "6369a968.fcf238"
    ],
    "x": 980,
    "y": 400,
    "wires": [],
    "l": true
  },
  {
    "id": "2e4c5b31.b402b4",
    "type": "link in",
    "z": "ab29512f.3b1bd",
    "name": "MtxIOTEmbalse359804082082704",
    "links": ["5f746a32.2a1654"],
    "x": 180,
    "y": 180,
    "wires": [["a21e45a6.aa7a18"]],
    "l": true
  },
  {
    "id": "a21e45a6.aa7a18",
    "type": "function",
    "z": "ab29512f.3b1bd",
    "name": "",
    "func": "var enterSplit = { data: msg.payload.split(\"\\n\") };\nvar AtSplit = { data: enterSplit.data[0].split(\"=\") }; // Split At comand fromt the rest \nvar numSplit = { data: AtSplit.data[1].split(\",\") };  // Split Analog input from the rest \n\nvar topic1=AtSplit.data[0]; // Extract At command \nvar topic2=numSplit.data[1]; // Extract Analog input\nif (topic1 == \"AT^MTXTUNNEL\" && topic2 == 1 ){\n    // Sensor 1\n    var voltage1 = { payload: enterSplit.data[1].split(\" \") };\n    return [msg,voltage1,null];\n}\n\nif (topic1 == \"AT^MTXTUNNEL\" && topic2 == 2 ){\n    var voltage2 = { payload: enterSplit.data[1].split(\" \") };\n    //Sensor 2\n    return [msg,null,voltage2];\n}\n\n\n\n\n\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 180,
    "wires": [
      ["c477d13c.3db55"],
      ["a80df8b1.4d7a08", "4eacf619.c0be88"],
      ["59ae22b4.db3e8c", "b3819532.e6b448"]
    ]
  },
  {
    "id": "a29d1e5d.fbf07",
    "type": "inject",
    "z": "ab29512f.3b1bd",
    "name": "Frecuencia de muestreo: Vertedero Embalse MM",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "40",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETADC,1",
    "payloadType": "str",
    "x": 230,
    "y": 80,
    "wires": [["4b416639.e888d8"]]
  },
  {
    "id": "a301616.5c6aea",
    "type": "inject",
    "z": "ab29512f.3b1bd",
    "name": "Frecuencia de muestreo: Macha Macha ",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETADC,2",
    "payloadType": "str",
    "x": 200,
    "y": 120,
    "wires": [["4b416639.e888d8"]]
  },
  {
    "id": "fa4752a5.d9d62",
    "type": "ui_gauge",
    "z": "ab29512f.3b1bd",
    "name": "",
    "group": "fcab7506.d00548",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "wave",
    "title": "Rebalse",
    "label": "cm",
    "format": "{{value}}",
    "min": "0",
    "max": "50",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1440,
    "y": 322,
    "wires": []
  },
  {
    "id": "a80df8b1.4d7a08",
    "type": "ui_text",
    "z": "ab29512f.3b1bd",
    "d": true,
    "group": "fcab7506.d00548",
    "order": 7,
    "width": 3,
    "height": 1,
    "name": "",
    "label": "Volt. Sensor (mV):",
    "format": "{{value|number:0}}",
    "layout": "row-spread",
    "x": 630,
    "y": 285,
    "wires": []
  },
  {
    "id": "463bf029.9caa7",
    "type": "comment",
    "z": "ab29512f.3b1bd",
    "name": "MTX-IOT A/D: Sensor 2 Nivel Vertedero Macha Macha",
    "info": "",
    "x": 740,
    "y": 247,
    "wires": []
  },
  {
    "id": "eac49209.fb16a",
    "type": "comment",
    "z": "ab29512f.3b1bd",
    "name": "MTX-IOT A/D 1: Sensor 1 Nivel Embalse Macha Macha ",
    "info": "",
    "x": 740,
    "y": 600,
    "wires": []
  },
  {
    "id": "6f132188.6918a",
    "type": "ui_chart",
    "z": "ab29512f.3b1bd",
    "d": true,
    "name": "",
    "group": "fcab7506.d00548",
    "order": 21,
    "width": 6,
    "height": 4,
    "label": "Nivel: Vertedero",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "40",
    "removeOlder": "10",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 1200,
    "y": 406,
    "wires": [[]]
  },
  {
    "id": "dec1b2b6.4dc5e",
    "type": "ui_text",
    "z": "ab29512f.3b1bd",
    "d": true,
    "group": "fcab7506.d00548",
    "order": 13,
    "width": 3,
    "height": 1,
    "name": "",
    "label": "Rebalse (cm):",
    "format": "{{value|number:2}}",
    "layout": "row-spread",
    "x": 1460,
    "y": 363,
    "wires": []
  },
  {
    "id": "9cead05a.d34c9",
    "type": "ui_text",
    "z": "ab29512f.3b1bd",
    "d": true,
    "group": "fcab7506.d00548",
    "order": 19,
    "width": 3,
    "height": 1,
    "name": "",
    "label": "Caudal (l/seg.):",
    "format": "{{value|number:2>0}}",
    "layout": "row-spread",
    "x": 1200,
    "y": 446,
    "wires": []
  },
  {
    "id": "4eacf619.c0be88",
    "type": "range",
    "z": "ab29512f.3b1bd",
    "minin": "0",
    "maxin": "5000",
    "minout": "0",
    "maxout": "1000",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 600,
    "y": 325,
    "wires": [["cff6cf9d.dd603"]],
    "info": "mV to cm"
  },
  {
    "id": "4d18a33f.70bfec",
    "type": "ui_gauge",
    "z": "ab29512f.3b1bd",
    "name": "",
    "group": "fcab7506.d00548",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "wave",
    "title": "Nivel",
    "label": "m",
    "format": "{{value}}",
    "min": 0,
    "max": "10",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1250,
    "y": 695,
    "wires": []
  },
  {
    "id": "59ae22b4.db3e8c",
    "type": "ui_text",
    "z": "ab29512f.3b1bd",
    "d": true,
    "group": "fcab7506.d00548",
    "order": 9,
    "width": 3,
    "height": 1,
    "name": "",
    "label": "Volt. Sensor (mV):",
    "format": "{{value|number:0}}",
    "layout": "row-spread",
    "x": 630,
    "y": 640,
    "wires": []
  },
  {
    "id": "231fa470.2f3fac",
    "type": "ui_chart",
    "z": "ab29512f.3b1bd",
    "d": true,
    "name": "",
    "group": "fcab7506.d00548",
    "order": 26,
    "width": 6,
    "height": 4,
    "label": "Nivel: Embalse Macha Macha",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "4",
    "removeOlder": "30",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 1330,
    "y": 788,
    "wires": [[]]
  },
  {
    "id": "6f66b42c.3eb88c",
    "type": "ui_text",
    "z": "ab29512f.3b1bd",
    "d": true,
    "group": "fcab7506.d00548",
    "order": 14,
    "width": 3,
    "height": 1,
    "name": "",
    "label": "Nivel (m):",
    "format": "{{value|number:2}}",
    "layout": "row-spread",
    "x": 1260,
    "y": 735,
    "wires": []
  },
  {
    "id": "4cd4d802.0f07e8",
    "type": "function",
    "z": "ab29512f.3b1bd",
    "name": "Function with examples",
    "func": "//InData=JSON.stringify(msg);\n//OutData=JSON.parse(InData);\n//var data1=OutData[\"payload\"];\n//var data=OutData.msg;\n//msg.payload = msg.payload;\n\n// AT command and Voltage data Split\n//var spaceSplit = { data: msg.payload.split(\" \") }; // Split space in the string\n\n// AT command identification \n//var AtEnterSplit = { data: spaceSplit.data[0].split(\"=\")}; \n\n// AT coomand - Analog input Nº1: AT^SRADC=1 \n//var At_id = { data:AtEnterSplit.data[0]}\n\n// Voltage value extration from JSON\n//var VoltageEnterSplit = { data: spaceSplit.data[1].split(\"\\n\")}; // Split \"Enter\" in the string\n//var Voltage = {payload: VoltageEnterSplit.data[0]}\n\nvar enterSplit = { data: msg.payload.split(\"\\n\") };\nvar numSplit = { data: enterSplit.data[0].split(\"=\") };\n\nvar topic=numSplit.data[1];\nif (topic== 0){\n    var spaceSplit1 = { data: enterSplit.data[2].split(\" \") };\n    var voltage1 = {payload: spaceSplit1.data[1]}\n    return [voltage1,null];\n}\nif (topic== 1 ){\n    var spaceSplit2 = { data: enterSplit.data[2].split(\" \") };\n    var voltage2 = {payload: spaceSplit2.data[1]}\n    return [null,voltage2];\n}\n\n//return [numSplit];\n\n\n\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 190,
    "y": 1120,
    "wires": [[], []]
  },
  {
    "id": "ad03bf1d.b6823",
    "type": "debug",
    "z": "ab29512f.3b1bd",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 1067,
    "wires": []
  },
  {
    "id": "2faffb9d.c22884",
    "type": "function",
    "z": "ab29512f.3b1bd",
    "name": "",
    "func": "var enterSplit = { data: msg.payload.split(\"\\n\") };\nvar AtSplit = { data: enterSplit.data[0].split(\"=\") }; // Split At comand fromt the rest \nvar numSplit = { data: AtSplit.data[1].split(\",\") };  // Split Analog input from the rest \n\nvar topic1=AtSplit.data[0]; // Extract At command \nvar topic2=numSplit.data[1]; // Extract Analog input\nif (topic1 == \"AT^MTXTUNNEL\" && topic2 == 1 ){\n    // Sensor 1\n    var voltage1 = { payload: enterSplit.data[1].split(\" \") };\n    return [msg,voltage1,null];\n}\n\nif (topic1 == \"AT^MTXTUNNEL\" && topic2 == 2 ){\n    var voltage2 = { payload: enterSplit.data[1].split(\" \") };\n    //Sensor 2\n    return [msg,null,voltage2];\n}\n\n\n\n\n\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 440,
    "y": 1080,
    "wires": [
      ["ad03bf1d.b6823"],
      ["c8eccdbf.3fe", "87f02b3c.abbeb8", "4d79621.fb2509c"],
      ["7964ebd6.a1d474"]
    ]
  },
  {
    "id": "4f8a30d.a454fd",
    "type": "inject",
    "z": "ab29512f.3b1bd",
    "name": "Frecuencia de muestreo: Camara de Carga",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETADC,1",
    "payloadType": "str",
    "x": 210,
    "y": 980,
    "wires": [["34f3f3d7.73e24c"]]
  },
  {
    "id": "96919d7b.f70ee",
    "type": "inject",
    "z": "ab29512f.3b1bd",
    "d": true,
    "name": "Frecuencia de muestreo: Señal II",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "AT^MTXTUNNEL=GETADC,2",
    "payloadType": "str",
    "x": 180,
    "y": 1020,
    "wires": [["34f3f3d7.73e24c"]]
  },
  {
    "id": "7964ebd6.a1d474",
    "type": "debug",
    "z": "ab29512f.3b1bd",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 1420,
    "wires": []
  },
  {
    "id": "a7650291.78a2b",
    "type": "comment",
    "z": "ab29512f.3b1bd",
    "name": "MTX-IOT A/D: Sensor 2 N/A",
    "info": "",
    "x": 720,
    "y": 1380,
    "wires": []
  },
  {
    "id": "b00da2dc.683bc",
    "type": "comment",
    "z": "ab29512f.3b1bd",
    "name": "MTX-IOT A/D 1: Sensor 1 Nivel Cámara de Carga",
    "info": "",
    "x": 780,
    "y": 1107,
    "wires": []
  },
  {
    "id": "c8eccdbf.3fe",
    "type": "debug",
    "z": "ab29512f.3b1bd",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 1147,
    "wires": []
  },
  {
    "id": "6fbb802f.45ea9",
    "type": "rbe",
    "z": "ab29512f.3b1bd",
    "name": "",
    "func": "deadbandEq",
    "gap": "0.01",
    "start": "",
    "inout": "in",
    "property": "payload",
    "x": 1080,
    "y": 1255,
    "wires": [["d248497.4e270b8", "5857dc3b.243074"]]
  },
  {
    "id": "d248497.4e270b8",
    "type": "ui_gauge",
    "z": "ab29512f.3b1bd",
    "name": "",
    "group": "fcab7506.d00548",
    "order": 6,
    "width": 3,
    "height": 3,
    "gtype": "wave",
    "title": "Nivel",
    "label": "m",
    "format": "{{value}}",
    "min": 0,
    "max": "7",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1310,
    "y": 1255,
    "wires": []
  },
  {
    "id": "4d79621.fb2509c",
    "type": "ui_text",
    "z": "ab29512f.3b1bd",
    "d": true,
    "group": "fcab7506.d00548",
    "order": 11,
    "width": 3,
    "height": 1,
    "name": "",
    "label": "Volt. Sensor (mV):",
    "format": "{{value|number:0}}",
    "layout": "row-spread",
    "x": 690,
    "y": 1200,
    "wires": []
  },
  {
    "id": "41be2c91.58b784",
    "type": "ui_chart",
    "z": "ab29512f.3b1bd",
    "d": true,
    "name": "",
    "group": "fcab7506.d00548",
    "order": 31,
    "width": 6,
    "height": 4,
    "label": "Nivel: Cámara de Carga",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": true,
    "ymin": "0",
    "ymax": "7",
    "removeOlder": "10",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 1370,
    "y": 1335,
    "wires": [[]]
  },
  {
    "id": "5857dc3b.243074",
    "type": "ui_text",
    "z": "ab29512f.3b1bd",
    "d": true,
    "group": "fcab7506.d00548",
    "order": 16,
    "width": 3,
    "height": 1,
    "name": "",
    "label": "Nivel (m):",
    "format": "{{value|number:2}}",
    "layout": "row-spread",
    "x": 1320,
    "y": 1295,
    "wires": []
  },
  {
    "id": "87f02b3c.abbeb8",
    "type": "range",
    "z": "ab29512f.3b1bd",
    "minin": "0",
    "maxin": "5000",
    "minout": "0",
    "maxout": "10",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 650,
    "y": 1260,
    "wires": [["b2919b4d.6d2f68"]]
  },
  {
    "id": "34f3f3d7.73e24c",
    "type": "mqtt out",
    "z": "ab29512f.3b1bd",
    "d": true,
    "name": "",
    "topic": "359804082082837/AT",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "477ddab9.e9b994",
    "x": 560,
    "y": 980,
    "wires": []
  },
  {
    "id": "dac8dad3.bbee88",
    "type": "comment",
    "z": "ab29512f.3b1bd",
    "name": "MTX-RTU: Cámara de Carga",
    "info": "",
    "x": 160,
    "y": 940,
    "wires": []
  },
  {
    "id": "dbe8be6b.cbd7c",
    "type": "ui_text",
    "z": "ab29512f.3b1bd",
    "d": true,
    "group": "fcab7506.d00548",
    "order": 17,
    "width": 3,
    "height": 1,
    "name": "",
    "label": "Nivel neg. (m):",
    "format": "{{value|number:2}}",
    "layout": "row-spread",
    "x": 1100,
    "y": 1360,
    "wires": []
  },
  {
    "id": "cff6cf9d.dd603",
    "type": "function",
    "z": "ab29512f.3b1bd",
    "name": "",
    "func": "// Rebalse Vertedero\nvar nivelSensor = msg.payload;\nvar rebalse = { payload: nivelSensor - 54.23 }; // 50 profundidad debajo la regla\n\n//Caudal Vertedero\nvar L = 1.82;\nvar Q = { payload:  1.84 * L * Math.pow((rebalse.payload), (1.5)) }; //Q for Francis Eq\n\nreturn [rebalse,Q];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 960,
    "y": 326,
    "wires": [["985d01ca.dc7a", "6f132188.6918a"], ["9cead05a.d34c9"]]
  },
  {
    "id": "b2919b4d.6d2f68",
    "type": "function",
    "z": "ab29512f.3b1bd",
    "name": "",
    "func": "// Rebalse Vertedero\nvar nivelSensor = msg.payload;\nvar nivelCamara = { payload: nivelSensor + 3.25 }; // 3m profundidad debajo del sensor\n// Level in inverse form\nvar nivelNeg = { payload: - 6.3 + (nivelCamara.payload) };\n\nreturn [nivelCamara,nivelNeg];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 820,
    "y": 1260,
    "wires": [["6fbb802f.45ea9", "41be2c91.58b784"], ["dbe8be6b.cbd7c"]]
  },
  {
    "id": "985d01ca.dc7a",
    "type": "rbe",
    "z": "ab29512f.3b1bd",
    "name": "",
    "func": "deadbandEq",
    "gap": "1",
    "start": "",
    "inout": "in",
    "property": "payload",
    "x": 1180,
    "y": 320,
    "wires": [["fa4752a5.d9d62", "dec1b2b6.4dc5e"]]
  },
  {
    "id": "b3819532.e6b448",
    "type": "range",
    "z": "ab29512f.3b1bd",
    "minin": "0",
    "maxin": "5000",
    "minout": "0",
    "maxout": "10",
    "action": "scale",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 590,
    "y": 700,
    "wires": [["45847bc5.19de34"]]
  },
  {
    "id": "142a0c80.d8f074",
    "type": "rbe",
    "z": "ab29512f.3b1bd",
    "name": "",
    "func": "deadbandEq",
    "gap": "0.01",
    "start": "",
    "inout": "in",
    "property": "payload",
    "x": 1044,
    "y": 694,
    "wires": [["4d18a33f.70bfec", "6f66b42c.3eb88c"]]
  },
  {
    "id": "45847bc5.19de34",
    "type": "function",
    "z": "ab29512f.3b1bd",
    "name": "",
    "func": "// Rebalse Vertedero\nvar nivelSensor = msg.payload;\nvar nivelEmbalse = { payload: nivelSensor + 0.1 }; // 0m profundidad debajo del sensor\n\nreturn [nivelEmbalse];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 784,
    "y": 700,
    "wires": [["142a0c80.d8f074", "231fa470.2f3fac"], []]
  },
  {
    "id": "2fbddc23.721664",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado: Turbina modo Manual",
    "func": "msg.payload = msg.payload[488];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 560,
    "wires": [["3d423138.b1be1e"]]
  },
  {
    "id": "6f2fedb.b64df14",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado: Turbina modo automático",
    "func": "msg.payload = msg.payload[489];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 600,
    "wires": [["f016c588.563198"]]
  },
  {
    "id": "2ae68652.3049ca",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "85d1f038.cdc31",
    "name": "Interruptor Quillacollo KAN02",
    "order": 9,
    "width": "4",
    "height": "2",
    "format": "<div>\n  <div class=\"control-block\">\n    <p class=\"title\">Interruptor Quillacollo KAN02</p>\n  </div>\n  <div ng-if=\"msg.payload\">\n    <b class=\"text-red title\">Abierto</b>\n  </div>\n  <div ng-if=\"!msg.payload\">\n    <b class=\"text-cyan title\">\n      Cerrado\n    </b>\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 1000,
    "y": 420,
    "wires": [[]]
  },
  {
    "id": "e2b07ff4.c6439",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado: Interruptor Quillacollo KAN02",
    "func": "msg.payload = msg.payload[488];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 420,
    "wires": [["2ae68652.3049ca"]]
  },
  {
    "id": "c458ff4b.32194",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Estado: Interruptor Grupo KAN01",
    "func": "msg.payload = msg.payload[489];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 380,
    "wires": [["2a429d65.f9c842"]]
  },
  {
    "id": "2a429d65.f9c842",
    "type": "ui_template",
    "z": "f6f2187d.f17ca8",
    "group": "85d1f038.cdc31",
    "name": "Interruptor Grupo KAN01",
    "order": 10,
    "width": "4",
    "height": "2",
    "format": "<div>\n  <div class=\"control-block\">\n          <p class=\"title\">\n      Interruptor Grupo KAN01\n    </p>\n  </div>\n  <div ng-if=\"msg.payload\">\n    <b class=\"text-red title\">Abierto</b>\n  </div>\n  <div ng-if=\"!msg.payload\">\n    <b class=\"text-cyan title\">\n      Cerrado\n    </b>\n  </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 990,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "bb87d7a3.24d158",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2410,
    "y": 660,
    "wires": []
  }
]
